<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516917451177-1n8kmhdts4boh3m7740no7p4j3q125dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516917451177-1n8kmhdts4boh3m7740no7p4j3q125dt</string>
	<key>API_KEY</key>
	<string>AIzaSyBxjVVzUOZ8QmbqW40qzkA1MDd_LOPJgNA</string>
	<key>GCM_SENDER_ID</key>
	<string>516917451177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a361c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a361c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516917451177:ios:c56d487565d001a5c00cb8</string>
</dict>
</plist>